<!-- Category Area End-->
<!-- Latest Products Start -->
<section class="latest-product-area padding-bottom">
    <div class="container">
        <div class="row product-btn d-flex justify-content-end align-items-end">
            <!-- Section Tittle -->
            <div class="col-xl-4 col-lg-5 col-md-5">
                <div class="section-tittle mb-30">
                    <h2>Products</h2>
                </div>
            </div>
            <div class="col-xl-8 col-lg-7 col-md-7">
                <div class="properties__button f-right">
                    <!--Nav Button  -->
                    <nav>                                                                                                
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        </div>
                    </nav>
                    <!--End Nav Button  -->
                </div>
            </div>
        </div>
        <!-- Nav Card -->
        <div class="tab-content" id="nav-tabContent">
            <!-- card one -->
            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="single-product mb-60">
                            <div class="product-img">
                                <img src="assets/img/categori/product1.png" alt="">
                                <div class="new-product">
                                    <span>New</span>
                                </div>
                            </div>
                            <div class="product-caption">
                                <div class="product-ratting">
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star low-star"></i>
                                    <i class="far fa-star low-star"></i>
                                </div>
                                <h4><a class="pointer"(click)="onp1()">Men's Shorts</a></h4>
                                <div class="price">
                                    <ul>
                                        <li>₹120</li>
                                        <li class="discount">₹180</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="single-product mb-60">
                            <div class="product-img">
                                <img src="assets/img/categori/product2.png" alt="">
                            </div>
                            <div class="product-caption">
                                <div class="product-ratting">
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star low-star"></i>
                                    <i class="far fa-star low-star"></i>
                                </div>
                                <h4><a class="pointer"(click)="onp2()">Green Hoddie</a></h4>
                                <div class="price">
                                    <ul>
                                        <li>₹499</li>
                                        <li class="discount">₹599</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div> 
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="single-product mb-60">
                            <div class="product-img">
                                <img src="assets/img/categori/product3.png" alt="">
                                <div class="new-product">
                                    <span>New</span>
                                </div>
                            </div>
                            <div class="product-caption">
                                <div class="product-ratting">
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star low-star"></i>
                                    <i class="far fa-star low-star"></i>
                                </div>
                                <h4><a class="pointer"(click)="onp3()">Full sleave Dress</a></h4>
                                <div class="price">
                                    <ul>
                                        <li>₹299</li>
                                        <li class="discount">₹499</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="single-product mb-60">
                            <div class="product-img">
                                <img src="assets/img/categori/product4.png" alt="">
                            </div>
                            <div class="product-caption">
                                <div class="product-ratting">
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star low-star"></i>
                                    <i class="far fa-star low-star"></i>
                                </div>
                                <h4><a class="pointer"(click)="onp4()">Full sleave Gray Dress</a></h4>
                                <div class="price">
                                    <ul>
                                        <li>₹499</li>
                                        <li class="discount">₹799</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="single-product mb-60">
                            <div class="product-img">
                                <img src="assets/img/categori/product5.png" alt="">
                            </div>
                            <div class="product-caption">
                                <div class="product-ratting">
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star low-star"></i>
                                    <i class="far fa-star low-star"></i>
                                </div>
                                <h4><a class="pointer"(click)="onp5()">Black Pant</a></h4>
                                <div class="price">
                                    <ul>
                                        <li>₹399</li>
                                        <li class="discount">₹499</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="single-product mb-60">
                            <div class="product-img">
                                <img src="assets/img/categori/product6.png" alt="">
                                <div class="new-product">
                                    <span>New</span>
                                </div>
                            </div>
                            <div class="product-caption">
                                <div class="product-ratting">
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star low-star"></i>
                                    <i class="far fa-star low-star"></i>
                                </div>
                                <h4><a class="pointer"(click)="onp6()">Denim Coat for Girls</a></h4>
                                <div class="price">
                                    <ul>
                                        <li>₹1099</li>
                                        <li class="discount">₹1299</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="single-product mb-60">
                            <div class="product-img">
                                <img src="assets/img/categori/category_1.png" alt="">
                            </div>
                            <div class="product-caption">
                                <div class="product-ratting">
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star low-star"></i>
                                    <i class="far fa-star low-star"></i>
                                </div>
                                <h4><a class="pointer"(click)="onp7()">Festive Dress</a></h4>
                                <div class="price">
                                    <ul>
                                        <li>₹3299</li>
                                        <li class="discount">₹4299</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="single-product mb-60">
                            <div class="product-img">
                                <img src="assets/img/categori/category_2.png" alt="">
                            </div>
                            <div class="product-caption">
                                <div class="product-ratting">
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star low-star"></i>
                                    <i class="far fa-star low-star"></i>
                                </div>
                                <h4><a class="pointer"(click)="onp8()">Sports T-Shirt</a></h4>
                                <div class="price">
                                    <ul>
                                        <li>₹758</li>
                                        <li class="discount">₹854</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="single-product mb-60">
                            <div class="product-img">
                                <img src="assets/img/categori/category_3.png" alt="">
                            </div>
                            <div class="product-caption">
                                <div class="product-ratting">
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star low-star"></i>
                                    <i class="far fa-star low-star"></i>
                                </div>
                                <h4><a class="pointer"(click)="onp9()">Red Checks Dress</a></h4>
                                <div class="price">
                                    <ul>
                                        <li>₹999</li>
                                        <li class="discount">₹2999</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="single-product mb-60">
                            <div class="product-img">
                                <img src="assets/img/categori/category_8.png" alt="">
                                <div class="new-product">
                                    <span>New</span>
                                </div>
                            </div>
                            <div class="product-caption">
                                <div class="product-ratting">
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star low-star"></i>
                                    <i class="far fa-star low-star"></i>
                                </div>
                                <h4><a class="pointer"(click)="onp10()">Men's Denim Coat</a></h4>
                                <div class="price">
                                    <ul>
                                        <li>₹1099</li>
                                        <li class="discount">₹1299</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="single-product mb-60">
                            <div class="product-img">
                                <img src="assets/img/categori/category_9.png" alt="">
                                <div class="new-product">
                                    <span>New</span>
                                </div>
                            </div>
                            <div class="product-caption">
                                <div class="product-ratting">
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star low-star"></i>
                                    <i class="far fa-star low-star"></i>
                                </div>
                                <h4><a class="pointer"(click)="onp11()">Nike Red Shoes</a></h4>
                                <div class="price">
                                    <ul>
                                        <li>₹3099</li>
                                        <li class="discount">₹4299</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="single-product mb-60">
                            <div class="product-img">
                                <img src="assets/img/categori/category_6.png" alt="">
                            </div>
                            <div class="product-caption">
                                <div class="product-ratting">
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star low-star"></i>
                                    <i class="far fa-star low-star"></i>
                                </div>
                                <h4><a class="pointer"(click)="onp12()">Military Gray T-Shirt</a></h4>
                                <div class="price">
                                    <ul>
                                        <li>₹599</li>
                                        <li class="discount">₹799</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        <!-- End Nav Card -->
    </div>
</section>